/* Flat UI colors */
/* Main font */
@font-face {
  font-family: santor;
  src: url("../fonts/santor.otf");
}
/* Font for twitter icon */
@font-face {
  font-family: social;
  src: url("../fonts/social_icons.ttf");
}
/* line 42, ../scss/style.scss */
body {
  background-color: #1abc9c;
  font-family: santor;
}

/* line 50, ../scss/style.scss */
header {
  font-size: 3em;
}
/* line 53, ../scss/style.scss */
header .date {
  display: block;
  font-size: 0.7em;
}

/* line 59, ../scss/style.scss */
.e {
  color: #16a085;
}

/* Daily prime */
/* line 67, ../scss/style.scss */
.flip-container {
  width: 400px;
  height: 400px;
  margin: auto;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}

/* flip the pane when hovered */
/* line 79, ../scss/style.scss */
.flip-container:hover .front .half.left, .flip-container.flip .front .half.left {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 86, ../scss/style.scss */
.flip-container:hover .back .half.right, .flip-container.flip .back .half.right {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* line 94, ../scss/style.scss */
div.today-prime {
  position: relative;
  border-style: solid 0px black;
  border-radius: 200px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
/* line 106, ../scss/style.scss */
div.today-prime .front, div.today-prime .back {
  width: 400px;
  height: 400px;
  border-style: solid 0px black;
  border-radius: 200px;
}
/* line 116, ../scss/style.scss */
div.today-prime .front, div.today-prime .back {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 123, ../scss/style.scss */
div.today-prime .half {
  height: 400px;
  width: 200px;
  display: table;
}
/* line 130, ../scss/style.scss */
div.today-prime .text, div.today-prime .number {
  display: table-cell;
  vertical-align: middle;
  line-height: 30px;
}
/* line 136, ../scss/style.scss */
div.today-prime .left .text {
  text-align: right;
  padding-left: 20px;
  padding-right: 10px;
}
/* line 142, ../scss/style.scss */
div.today-prime .right .text {
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
}
/* line 150, ../scss/style.scss */
div.today-prime .front .left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 200px 0px 0px 200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-origin: 200px 0px;
  -moz-transform-origin: 200px 0px;
  transform-origin: 200px 0px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 172, ../scss/style.scss */
div.today-prime .front .right {
  border-radius: 0px 200px 200px 0px;
  position: absolute;
  top: 0;
  left: 200px;
}
/* line 181, ../scss/style.scss */
div.today-prime .back {
  position: absolute;
}
/* line 184, ../scss/style.scss */
div.today-prime .back .left {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 200px 0px 0px 200px;
}
/* line 192, ../scss/style.scss */
div.today-prime .back .right {
  position: absolute;
  top: 0;
  left: 200px;
  border-radius: 0px 200px 200px 0px;
  background-color: #c0392b;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
}

/* line 215, ../scss/style.scss */
.content {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

/* line 222, ../scss/style.scss */
.menu-element:hover {
  cursor: pointer;
}

/* line 227, ../scss/style.scss */
.hrotation {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 234, ../scss/style.scss */
.vrotation {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

/* line 240, ../scss/style.scss */
.old-prime, .menu-element {
  margin: 10px;
  display: inline-block;
  height: 70px;
  width: 70px;
  position: relative;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
/* line 256, ../scss/style.scss */
.old-prime .front, .old-prime .back, .menu-element .front, .menu-element .back {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 70px;
}
/* line 271, ../scss/style.scss */
.old-prime .vcontainer, .old-prime .hcontainer, .menu-element .vcontainer, .menu-element .hcontainer {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 280, ../scss/style.scss */
.old-prime .vcontainer, .menu-element .vcontainer {
  -webkit-transform-origin: 100% 35px;
  -moz-transform-origin: 100% 35px;
  transform-origin: 100% 35px;
}
/* line 286, ../scss/style.scss */
.old-prime .front, .menu-element .front {
  z-index: 2;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 293, ../scss/style.scss */
.old-prime .hcontainer .back, .menu-element .hcontainer .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 302, ../scss/style.scss */
.old-prime .vcontainer .back, .menu-element .vcontainer .back {
  z-index: 1;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 314, ../scss/style.scss */
#twitter {
  font-family: social;
  font-size: 2.5em;
}
/* line 319, ../scss/style.scss */
#twitter a {
  text-decoration: none;
  color: black;
}
