/* Flat UI colors */
/* Main font */
@font-face {
  font-family: santor;
  src: url("../fonts/santor.otf");
}
/* Font for twitter icon */
@font-face {
  font-family: socialtt;
  src: url("../fonts/social_icons.ttf");
}
/* Font for github icon */
@font-face {
  font-family: socialgh;
  src: url("../fonts/social_font.ttf");
}
/* line 48, ../scss/style.scss */
body {
  background-color: #1abc9c;
  font-family: santor;
}

/* line 56, ../scss/style.scss */
header {
  font-size: 3em;
}
/* line 59, ../scss/style.scss */
header .date {
  display: block;
  font-size: 0.7em;
}

/* line 65, ../scss/style.scss */
.e {
  color: #16a085;
}

/* Daily prime */
/* line 73, ../scss/style.scss */
.flip-container {
  width: 400px;
  height: 400px;
  margin: auto;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}

/* flip the pane when hovered */
/* line 85, ../scss/style.scss */
.flip-container:hover .front .half.left, .flip-container.flip .front .half.left {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 92, ../scss/style.scss */
.flip-container:hover .back .half.right, .flip-container.flip .back .half.right {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* line 100, ../scss/style.scss */
div.today-prime {
  position: relative;
  border-style: solid 0px black;
  border-radius: 200px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
/* line 112, ../scss/style.scss */
div.today-prime .front, div.today-prime .back {
  width: 400px;
  height: 400px;
  border-style: solid 0px black;
  border-radius: 200px;
}
/* line 122, ../scss/style.scss */
div.today-prime .front, div.today-prime .back {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 129, ../scss/style.scss */
div.today-prime .half {
  height: 400px;
  width: 200px;
  display: table;
}
/* line 136, ../scss/style.scss */
div.today-prime .text, div.today-prime .number {
  display: table-cell;
  vertical-align: middle;
  line-height: 30px;
}
/* line 142, ../scss/style.scss */
div.today-prime .left .text {
  text-align: right;
  padding-left: 20px;
  padding-right: 10px;
}
/* line 148, ../scss/style.scss */
div.today-prime .right .text {
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
}
/* line 156, ../scss/style.scss */
div.today-prime .front .left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 200px 0px 0px 200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-origin: 200px 0px;
  -moz-transform-origin: 200px 0px;
  transform-origin: 200px 0px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 178, ../scss/style.scss */
div.today-prime .front .right {
  border-radius: 0px 200px 200px 0px;
  position: absolute;
  top: 0;
  left: 200px;
}
/* line 187, ../scss/style.scss */
div.today-prime .back {
  position: absolute;
}
/* line 190, ../scss/style.scss */
div.today-prime .back .left {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 200px 0px 0px 200px;
}
/* line 198, ../scss/style.scss */
div.today-prime .back .right {
  position: absolute;
  top: 0;
  left: 200px;
  border-radius: 0px 200px 200px 0px;
  background-color: #c0392b;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
}

/* line 221, ../scss/style.scss */
.content {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

/* line 228, ../scss/style.scss */
.menu-element:hover {
  cursor: pointer;
}

/* line 232, ../scss/style.scss */
.hrotation {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 238, ../scss/style.scss */
.vrotation {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

/* line 244, ../scss/style.scss */
.old-prime, .menu-element {
  margin: 10px;
  display: inline-block;
  height: 70px;
  width: 70px;
  position: relative;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
/* line 260, ../scss/style.scss */
.old-prime .front, .old-prime .back, .menu-element .front, .menu-element .back {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 70px;
}
/* line 275, ../scss/style.scss */
.old-prime .vcontainer, .old-prime .hcontainer, .menu-element .vcontainer, .menu-element .hcontainer {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 284, ../scss/style.scss */
.old-prime .vcontainer, .menu-element .vcontainer {
  -webkit-transform-origin: 100% 35px;
  -moz-transform-origin: 100% 35px;
  transform-origin: 100% 35px;
}
/* line 290, ../scss/style.scss */
.old-prime .front, .menu-element .front {
  z-index: 2;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 297, ../scss/style.scss */
.old-prime .hcontainer .back, .menu-element .hcontainer .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 306, ../scss/style.scss */
.old-prime .vcontainer .back, .menu-element .vcontainer .back {
  z-index: 1;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 318, ../scss/style.scss */
.social {
  font-size: 2.5em;
}
/* line 322, ../scss/style.scss */
.social a {
  text-decoration: none;
  color: black;
}
/* line 327, ../scss/style.scss */
.social #twitter {
  font-family: socialtt;
}
/* line 332, ../scss/style.scss */
.social #github {
  font-family: socialgh;
}
